
// @import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500,700,700i');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700');


@font-face {
  font-family: "SweetSansBold";
  src: url("../fonts/Sweet-Sans-Bold/09121956-e278-4bed-a007-66c38b533104-3.woff");
  src: url("../fonts/Sweet-Sans-Bold/09121956-e278-4bed-a007-66c38b533104-3.woff") format("woff"),
       url("../fonts/Sweet-Sans-Bold/09121956-e278-4bed-a007-66c38b533104-1.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "SweetSansMedium";
  src: url("../fonts/Sweet-Sans-Medium/08ccab92-0c5e-47bc-89a0-a791289186bd-3.woff");
  src: url("../fonts/Sweet-Sans-Medium/08ccab92-0c5e-47bc-89a0-a791289186bd-3.woff") format("woff"),
       url("../fonts/Sweet-Sans-Medium/08ccab92-0c5e-47bc-89a0-a791289186bd-1.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "SweetSans";
  src: url("../fonts/Sweet-Sans-Regular/bd9ae3e5-8426-48f5-b930-8bc0d39004d8-3.woff");
  src: url("../fonts/Sweet-Sans-Regular/bd9ae3e5-8426-48f5-b930-8bc0d39004d8-3.woff") format("woff"),
       url("../fonts/Sweet-Sans-Regular/bd9ae3e5-8426-48f5-b930-8bc0d39004d8-1.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}