
//body
$body-font-family: SweetSans, serif !default;
$body-font-color: #000000 !default;
$base-font-size: 100% !default;
// $global-width: 1200 !default;

//header
$header-font-family: SweetSans, serif !default;
$header-color: #1f1f1e !default;
$header-lineheight: 0.9 !default;
$header-margin-bottom: 12px !default;

//paragraph
$paragraph-lineheight: 1.3 !default;
$paragraph-margin-bottom: 10px !default;

//wp hack
#wpadminbar {
  @media screen and (max-width: 600px){
    position: fixed!important;
  }
}

