.c-who-we-are{
  color: #fff;
  background: #1f1f1e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  min-height: 600px;
  @media (max-width: $tablet-width){
    min-height: 400px;
  }

  @media (max-width: $mobile-width){
    padding: 40px 30px;
    align-items: flex-start;
  }

  .top-wrapper{
    max-width: 680px;
    text-align: center;
    @media (max-width: $mobile-width){
      text-align: left;
    }

    h1{
      color: #fff;
      text-transform: lowercase;
    }
  }

  .bottom-wrapper{
    display: flex;
    flex-direction: row;
    padding: 20px;
    text-align: center;

    @media (max-width: $mobile-width){
      flex-direction: column;
      text-align: left;
      padding: 20px 0 40px;
    }

    .stat-wrapper{
      display: flex;
      flex-direction: column;
      padding: 0 20px;
      max-width: 390px;
      align-items: center;
      
      @media (max-width: $tablet-width){
        padding: 0 20px 0 0;
      }

      @media (max-width: $mobile-width){
        align-items: flex-start;
      }

      &__number{
        color:#e9c5c7;
        p{
          font-size: 100px;
          font-family: SweetSansBold;
          display: inline;
          @media (max-width: $tablet-width){
            font-size: 70px;
          }
        }
      } 

      &__text{
        text-transform: lowercase;
        font-family: SweetSansBold;
        font-variant: small-caps;
        font-size: 14px;
        max-width: 180px;

        @media (max-width: $tablet-width){
          max-width: 180px;
        }
      } 
    }
  }

  .some-links{
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    @media (max-width: $mobile-width){
      flex-direction: column;
      padding-top: 0;
    }
    a{
      margin: 0 12px;

      @media (max-width: $mobile-width){
        margin: 10px 0;
     
      }
    }
  }
}