.c-button-1{
  color: #000!important;
  padding: 10px 7px;
  border: solid 1px #d9d6df;
  text-align: center;
  width: auto;
  font-family: SweetSansBold;
  font-size: 14px;
  min-width: 192px;
  text-transform: uppercase;
  align-self: start;
}