.c-news-page{
  min-height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 60px;

  #more_posts{
    font-family: 'SweetSansBold';
    font-size: 14px;
    text-transform: uppercase;
    color: #000;
    align-self: center;
    padding: 14px 0 13px;
    border: solid 1px #d9d6df;
    cursor: pointer;
    min-width: 192px;
    text-align: center;
    transition: 0.1s all;
    @media (max-width: $tablet-width){
      font-size: 12px;
      padding: 14px 0 12px;
      min-width: 162px;
    }
  }

  #more_posts:after{
    content: 'load more';
  }


  #more_posts:hover{
    background-color: #000;
    border: solid 1px #000;
    color: #fff;
    transition: 0.1s all;
  }


  #more_posts[loading='true']:after{
    content: 'loading';
    color: #c1bfc5;
  }
  #more_posts[loading='true']:hover{
    border: solid 1px #d9d6df;
    background-color: #fff;
    cursor: initial;
    user-select: none;
  }

  #more_posts[disabled='disabled']{
    color: #c1bfc5;
  }
  #more_posts[disabled='disabled']:after{
    content: 'no more news';
    color: #c1bfc5;
  }
  #more_posts[disabled='disabled']:hover{
    color: #c1bfc5;
    border: solid 1px #d9d6df;
    background-color: #fff;
    cursor: initial;
    user-select: none;
  }

  &__heading{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;  
    min-height: 130px;
    background-color: #efefef;

    @media (max-width: $tablet-width){
      justify-content: center;
      margin-bottom: 5px;
    }

     @media (max-width: $mobile-width){
      min-height: 60px;
      }

    h1{
      padding: 0 32px;
      font-variant: initial;
      font-family: 'SweetSansBold';
      text-transform: uppercase;
      margin-bottom: 0;

      @media (max-width: $tablet-width){
        max-width: 800px;
        padding: 0 10px;
      }

      @media (max-width: $mobile-width){
        font-size: 25px;
        padding: 0;
      }
    }
  }

  &__items{ 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 34px 0;
    // justify-content: space-between;

    @media (max-width: $mobile-width){
      padding: 24px 0;
    }

    .item{
      width: 29%;
      margin: 0 1.1%;
      padding-bottom: 40px;
      justify-self: start;
      padding-left: 10px;
      padding-right: 10px;

      @media (max-width: $tablet-width){
        margin: initial;
      }

      @media (max-width: $mobile-width){
        width: 100%;
        padding-left: 0;
        padding-right: 0;
      }

      .item-top-bits{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5px 0;

        @media (max-width: $mobile-width){
          padding: 5px 0 10px;
        }
      }

      .category ul{
        list-style-type: none;
      }

      .category li:not(:first-of-type){
        display: none;
      }

      .category a{
        display: inline;
        font-family: 'SweetSansBold';
        font-style: italic;
        letter-spacing: 0.44px;
        color: #ff2a78;
        @media (max-width: $tablet-width){
          font-size: 12px;
        }
      }

      .category{
        display: inline;
        font-family: 'SweetSansBold';
        font-style: italic;
        letter-spacing: 0.44px;
        color: #ff2a78;
        @media (max-width: $tablet-width){
          font-size: 12px;
        }
      }

      .publish-date{
        font-family: 'SweetSansMedium';
        font-size: 14px;
        letter-spacing: 0.44px;
        color: #1f1f1e;
        line-height: 1.3;
        padding-left: 10px;
        @media (max-width: $tablet-width){
          font-size: 10px;
            position: relative;
            top: 2px;
        }
      }

      .item-title{
        font-family: 'SweetSansBold';
        color: #1f1f1e;
        line-height: 1.09;
        letter-spacing: 1px;
        font-size: 36px;
        margin-bottom: 12px;
        @media (max-width: $tablet-width){
          font-size: 24px;
        }
      }

      .read-more{
        font-family: 'SweetSansBold';
        color: #1f1f1e;
        line-height: 1.06;
        letter-spacing: 0.5px;
        font-size: 16px;
        @media (max-width: $tablet-width){
          font-size: 14px;
        }

        span{
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          font-size:20px;
          color: #ff2a78;
          position: relative;
          top: 3px;
          @media (max-width: $tablet-width){
            font-size:18px;
          }
        }
      }
    }

    img{
      width: 100%;
    }
  }
}

.c-news-page .news-nav{

  @media (max-width: $mobile-width){
    left: -22px;
    position: relative;
    width: calc(100% + 44px);
  }
  
  #menu-news-menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px 30px;
    @media (max-width: $tablet-width){
      padding: 10px;
    }

    @media (max-width: $mobile-width){
      padding: 10px 0;
      flex-wrap: nowrap;
      white-space: nowrap;
      overflow-y: auto;
    }
  }

  .current-menu-item a:after{
    content: "";
    border-bottom: 1px solid red;
    display: block;
  }

  .menu-item{
    padding: 2px 32px 2px 0;

    @media (max-width: $mobile-width){
      padding: 2px 22px 2px 0;

      &:first-of-type{
        padding-left: 22px;
      }
    }
  }

  .menu-item a{
    font-family: 'SweetSansBold';
    font-size: 14px;
    text-transform: uppercase;
    @media (max-width: $tablet-width){
      font-size: 12px;
    }
  }
}

.c-join-rev-box {
  padding: 30px;
  border: 1px solid #ff2172;
  display: flex;
  flex-direction: row;
  margin-bottom: 60px;
  margin-top: 60px;
  
  @media (max-width: $mobile-width){
    flex-direction: column;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  > img{
    max-width: 440px;
    align-self: center;
    object-fit: cover;

    @media (max-width: $tablet-width){
      max-width: 300px;
      width: 100%;
      height: auto;
   
    }
  }

  .content{
    padding: 0 30px 0 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: $tablet-width){
      padding: 0 30px 0 40px;
    }

    @media (max-width: $mobile-width){
      padding: 25px 0 0;
    }

    h2{
      font-family: 'SweetSansBold';
      color: #1f1f1e;
      line-height: 1.09;
      letter-spacing: 1px;
      font-size: 36px;
      margin-bottom: 12px;
      max-width: 400px;
      margin-bottom: 20px;

      @media (max-width: $tablet-width){
        font-size: 24px;
        margin-bottom: 12px;

      }

    }
    p{
      font-family: 'SweetSans';
      font-size: 16px;
      margin-bottom: 20px;

      @media (max-width: $tablet-width){
        font-size: 14px;
        margin-bottom: 12px;

      }

    }
    a{
        font-family: 'SweetSansBold';
        color: #1f1f1e;
        line-height: 1.06;
        letter-spacing: 0.5px;
        font-size: 18px;

        @media (max-width: $tablet-width){
          font-size: 14px;
        }

        span{
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          font-size:20px;
          color: #ff2a78;
          position: relative;
          top: 3px;
          padding-left: 3px;

          
        }
    }
  }
}

.c-single-news{
  display: flex;
  flex-direction: column;



  .header-img-wrapper{
    max-height: 650px;
    width: 100%;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
  }

  .header-img{
    width: 100%;
    height: auto;

    img{
      object-fit: cover;
    }
  }



  .back-strip{
    padding: 16px 0;
    @media (max-width: $mobile-width){
      padding: 8px 0;
    }

    a{
      font-family: 'SweetSansBold';
      font-size: 14px;
      text-transform: uppercase;
      @media (max-width: $mobile-width){
        font-size: 12px;
      }
      .arrow{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
        position: relative;
        top: 2px;
        padding-right: 5px;
        @media (max-width: $mobile-width){
          font-size: 16px;
        }
      }
    }
  }

  &__body{
    margin-bottom: 50px;

    .cat-name{
      margin-bottom: 30px;
      margin-top: 5px;
      font-family: 'SweetSansBold';
      color: #ff2a78;

      ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style-type: none;
        justify-content: center;
        @media (max-width: $mobile-width){
          justify-content: flex-start;
        }
        li{
          padding: 5px 10px 0 0;
          font-style: italic;
          letter-spacing: 0.44px;
          @media (max-width: $mobile-width){
            padding: 1px 10px 0 0;
          }

          a{
            font-family: 'SweetSansBold';
            color: #ff2a78;
            @media (max-width: $mobile-width){
              font-size: 12px;
            }
          }
        }
      }
    }
    
    h1{
      text-transform: initial;
      font-variant: initial;
      margin-bottom: 16px;
      font-size: 40px;
      text-align: center;
      @media (max-width: $mobile-width){
        text-align: left;
      }
    }
  }

  &__the-content{
    h2{
      font-family: 'SweetSans';
      @media (max-width: $mobile-width){
        text-align: left;
      }
    }

    h3{
      line-height: 2;
      font-family: 'SweetSansBold';
      @media (max-width: $mobile-width){
        text-align: left;
      }
    }

    p{
      font-family: 'SweetSansMedium';
      font-family: 'SweetSansMedium';
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.31;
      letter-spacing: 0.44px;
      text-align: center;
      color: #1f1f1e;
      max-width: 690px;
      margin: 0 auto;
      padding-bottom: 16px;
      @media (max-width: $mobile-width){
        text-align: left;
      }
    }

    a:not(.m-pink){
      font-family: 'SweetSansBold';
      text-decoration: underline!important;
      color: #1f1f1e;
    }

    a.m-pink{
      font-family: 'SweetSansBold';
      color: #ff1c6f;
      text-transform: uppercase;
      font-family: 'SweetSansMedium';
      width: auto;
      display: inline-block;
       @media (max-width: $mobile-width){
        text-align: left;
      }
    }

    a.m-pink:after{
      content: '';
      display: block;
      border-bottom: 1px solid #ff1c6f;;
    }
  }
}

.full-width-wrapper{
  width: 100%;
  &.m-border-bottom{
    border-bottom: solid 1px #d0d0d0;
  }

  &.m-pr-team{
    border-bottom: solid 1px #d0d0d0;
    border-top: solid 1px #d0d0d0;
    padding: 5px 0;
  }
} 

.pr-contact{
  display: flex;
  flex-direction: row;
  padding: 20px 0;
  font-size: 14px;

  @media (max-width: $tablet-width){
    padding: 16px 0;
  }

  @media (max-width: $mobile-width){
    flex-direction: column;
  }

  h4{
    font-family: 'SweetSansBold';
    text-transform: uppercase;
    padding-right: 70px;
    @media (max-width: $tablet-width){
      padding-right: 30px;
      font-size: 13px;
    }


    @media (max-width: $mobile-width){
      padding-bottom: 6px;
    }
  }
  a{
    font-family: 'SweetSansMedium';
    padding-right: 70px;
    @media (max-width: $tablet-width){
      padding-right: 30px;
      font-size: 13px;
    }
    @media (max-width: $mobile-width){
      &:not(:last-of-type){
        padding-bottom: 4px;
      } 
    }
  }
}



// SIGNUP PAGE


.wpforms-container.signup-page{
  text-align: center;
}

.wpforms-container.signup-page .wpforms-field-container{
  width: 280px;
  margin: 0 auto;
}
.wpforms-container.signup-page input {
  max-width: 100%!important;
  border: none!important;
  border-bottom: 1px solid rgb(113, 113, 113)!important;
}
.wpforms-container.signup-page .wpforms-submit-container{
  text-align: center;
}

.wpforms-container.signup-page .wpforms-confirmation-container-full{
  background: transparent;
  border: none;
}



.signup-text{
  font-family: 'SweetSansMedium';
  max-width: 400px;
  color: #1f1f1e;
  font-size: 18px;
  text-align: center;
  margin-bottom: 30px!important;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: $mobile-width){
    font-size: 16px;

  }
}

.tcs-text{
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  a{
    font-family: 'SweetSansBold';
    text-decoration: underline!important;
    color: #1f1f1e;
  }

}



// embed vimeo stuff
.c-single-news{
  .wp-block-embed.wp-embed-aspect-1-1{
    .wp-block-embed__wrapper{
      overflow: hidden;
      padding-bottom: 50%;
      position: relative;
      height: 0;
  
      @media (max-width: $tablet-width){
        padding-bottom: 70%;
      }
  
      @media (max-width: $mobile-width){
        padding-bottom: 100%;
      }
    }
    iframe{
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      position: absolute;
    }
  }

  .wp-block-embed.wp-embed-aspect-1-2{
    .wp-block-embed__wrapper{
      overflow: hidden;
      padding-bottom: 70%;
      position: relative;
      height: 0;
  
      @media (max-width: $tablet-width){
        padding-bottom: 70%;
      }
  
      @media (max-width: $mobile-width){
        padding-bottom: 180%;
      }
    }
    iframe{
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      position: absolute;
    }
  }

  .wp-block-embed.wp-embed-aspect-9-16{
    .wp-block-embed__wrapper{
      overflow: hidden;
      padding-bottom: 70%;
      position: relative;
      height: 0;
  
      @media (max-width: $tablet-width){
        padding-bottom: 90%;
      }
  
      @media (max-width: $mobile-width){
        padding-bottom: 180%;
      }
    }
    iframe{
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      position: absolute;
    }
  }

  .wp-block-embed.wp-embed-aspect-16-9{
    .wp-block-embed__wrapper{
      overflow: hidden;
      padding-bottom: 56%;
      position: relative;
      height: 0;
  
      @media (max-width: $tablet-width){
        padding-bottom: 56%;
      }
  
      @media (max-width: $mobile-width){
        padding-bottom: 56%;
      }
    }
    iframe{
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      position: absolute;
    }
  }
}
