.c-news-page{
  min-height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 60px;

  #more_posts{
    font-family: 'SweetSansBold';
    font-size: 14px;
    text-transform: uppercase;
    color: #000;
    align-self: center;
    padding: 14px 0 13px;
    border: solid 1px #d9d6df;
    cursor: pointer;
    min-width: 192px;
    text-align: center;
    transition: 0.1s all;
  }

  #more_posts:after{
    content: 'load more';
  }


  #more_posts:hover{
    background-color: #000;
    border: solid 1px #000;
    color: #fff;
    transition: 0.1s all;
  }


  #more_posts[loading='true']:after{
    content: 'loading';
    color: #c1bfc5;
  }
  #more_posts[loading='true']:hover{
    border: solid 1px #d9d6df;
    background-color: #fff;
    cursor: initial;
    user-select: none;
  }

  #more_posts[disabled='disabled']{
    color: #c1bfc5;
  }
  #more_posts[disabled='disabled']:after{
    content: 'no more news';
    color: #c1bfc5;
  }
  #more_posts[disabled='disabled']:hover{
    color: #c1bfc5;
    border: solid 1px #d9d6df;
    background-color: #fff;
    cursor: initial;
    user-select: none;
  }

  &__heading{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;  
    min-height: 130px;
    background-color: #efefef;

    @media (max-width: $tablet-width){
      justify-content: center;
      margin-bottom: 5px;
    }

    h1{
      padding: 0 32px;
      font-variant: initial;
      font-family: 'SweetSansBold';
      text-transform: uppercase;
      margin-bottom: 0;

      @media (max-width: $tablet-width){
        max-width: 800px;
      }

      @media (max-width: $mobile-width){
      font-size: 30px;
      max-width: 300px;
      text-align: center;
      text-transform: lowercase;
      }
    }
  }

  &__items{ 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 34px 0;

    .item{
      width: 29%;
      margin: 0 2.1%;
      padding-bottom: 40px;

      .item-top-bits{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5px 0;
      }

      .category ul{
        list-style-type: none;
      }

      .category li:not(:first-of-type){
        display: none;
      }

      .category a{
        display: inline;
        font-family: 'SweetSansBold';
        font-style: italic;
        letter-spacing: 0.44px;
        color: #ff2a78;
      }

      .category{
        display: inline;
        font-family: 'SweetSansBold';
        font-style: italic;
        letter-spacing: 0.44px;
        color: #ff2a78;
      }

      .publish-date{
        font-family: 'SweetSansMedium';
        font-size: 14px;
        letter-spacing: 0.44px;
        color: #1f1f1e;
        line-height: 1.3;
      }

      .item-title{
        font-family: 'SweetSansBold';
        color: #1f1f1e;
        line-height: 1.09;
        letter-spacing: 1px;
        font-size: 36px;
        margin-bottom: 12px;
      }

      .read-more{
        font-family: 'SweetSansBold';
        color: #1f1f1e;
        line-height: 1.06;
        letter-spacing: 0.5px;
        font-size: 16px;

        span{
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          font-size:20px;
          color: #ff2a78;
          position: relative;
          top: 3px;
        }
      }
    }

    img{
      width: 100%;
    }
  }
}

.c-news-page .news-nav{
  #menu-news-menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px 10px;
  }

  .current-menu-item a:after{
    content: "";
    border-bottom: 1px solid red;
    display: block;
  }

  .menu-item{
    padding: 2px 22px;
  }

  .menu-item a{
    font-family: 'SweetSansBold';
    font-size: 14px;
    text-transform: uppercase;
  }
}

.c-join-rev-box {
  padding: 30px;
  border: 1px solid #ff2172;
  display: flex;
  flex-direction: row;
  margin-bottom: 60px;
  margin-top: 60px;

  > img{
    max-width: 440px;
  }

  .content{
    padding: 0 30px 0 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2{
      font-family: 'SweetSansBold';
      color: #1f1f1e;
      line-height: 1.09;
      letter-spacing: 1px;
      font-size: 36px;
      margin-bottom: 12px;
      max-width: 400px;
      margin-bottom: 20px;
    }
    p{
      font-family: 'SweetSans';
      font-size: 16px;
      margin-bottom: 20px;
    }
    a{
        font-family: 'SweetSansBold';
        color: #1f1f1e;
        line-height: 1.06;
        letter-spacing: 0.5px;
        font-size: 18px;

        span{
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          font-size:20px;
          color: #ff2a78;
          position: relative;
          top: 3px;
          padding-left: 3px;
        }
    }
  }
}

.c-single-news{
  display: flex;
  flex-direction: column;

  .header-img-wrapper{
    max-height: 650px;
    width: 100%;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
  }
  .header-img{
    width: 100%;
    height: auto;

    img{
      object-fit: cover;
    }
  }



  .back-strip{
    padding: 16px 0;
    a{
      font-family: 'SweetSansBold';
      font-size: 14px;
      text-transform: uppercase;
      .arrow{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
        position: relative;
        top: 2px;
        padding-right: 5px;
      }
    }
  }

  &__body{
    margin-bottom: 50px;

    .cat-name{
      margin-bottom: 30px;
      margin-top: 5px;

      ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style-type: none;
        // justify-content: center;

        li{
          padding: 5px 10px 0 0;

          font-style: italic;
          letter-spacing: 0.44px;


          a{
            font-family: 'SweetSansBold';
            color: #ff2a78;
          }
        }
      }
    }
    
    h1{
      text-transform: initial;
      font-variant: initial;
      margin-bottom: 10px;
      font-size: 40px;
    }

  }

  &__the-content{
    h3{
      line-height: 2;
    }
  }
}

// .full-width-wrapper{
//   width: 100%;
//   &.m-border-bottom{
//     border-bottom: solid 1px #d0d0d0;
//   }
// } 