.c-page {
    background-color: #ffffff;
    // padding: rem-calc(20);
    overflow: hidden;
    &__header {
        margin-bottom: rem-calc(20);
    }
    &__title {
        font-weight: 600;
    }
}