.c-we-fight{
  text-align: center;

  &__video-wrapper{
    padding-top: 20px;
    position: relative;
    width: 100%;

    iframe{
      width: 100%;
      max-width: 600px;


    @media (max-width: $tablet-width){
      max-width: 300px;
    }
    }
  }

  &__body-copy{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 40px;
  }
}