html {
    box-sizing: border-box;
    font-size: $base-font-size;
}

body {
    font-family: $body-font-family;
    color: $body-font-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
}

.menu-item::marker{
    color: transparent;
}
// :focus {
//     outline: 2px solid $primary-colour;
// }
// ::selection {
//     background: $primary-colour;
//     color: #ffffff;
// }
// ::-moz-selection {
//     background: $primary-colour;
//     color: #ffffff;
// }