.c-departments-wrapper{
  position: relative;
  background-color: #1f1f1e;
  h2{
    position: absolute;
    top: 30px;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: 1px;
    color: #fff;
    text-transform: lowercase;
    font-variant: small-caps;
    margin: 20px 0 30px;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);

    @media (max-width: $tablet-width){
      font-size: 24px;
      top: 4px;
    }

    @media (max-width: $mobile-width){
      position: absolute;
      top: 12px;
      font-size: 24px;
    }
  }

  .arrow-container{
    display: flex;
    justify-content: space-between;
    color: #fff;
    position: absolute;
    z-index: 2;
    width: 86%;
    margin-left: 7%;
    top: 53.8%;
    transform: translateY(-50%);
    pointer-events: none;
  }
}
.c-departments {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #1f1f1e;
  min-height: 500px;
  margin-bottom: 8px;
  justify-content: center;
  align-items: flex-start;
  padding: 120px 0;
  position: relative;
  max-width: 1750px;
  margin: 0 auto 8px;

  @media (max-width: $tablet-width){
    padding: 60px 0 10px;
  }

  @media (max-width: $mobile-width){
    height: 556px;
        padding: 60px 0 0 0;
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        justify-content: flex-start;
  }



  &__icon-wrapper {
    height: 40px;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 5px;
  }

  &__icon {
   max-height: 40px;
   max-width: 70px;
   width: auto;
   align-self: center;
  }
 

  &__department {
    padding: 19px;
    width: 268px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border: solid 1px #e6e4ea;
    margin: 8px;
    min-height: 240px;

    @media (max-width: $mobile-width){
      width: 78vw;
      margin: 13px 6vw;
      padding: 22px 4.4vw;
      min-height: 200px;

      &:nth-of-type(9){
        margin-right: 0vw;
      }
    }

    .core-purpose{
      color: #fff;
      font-family: SweetSans;
      line-height: 1.19;
      letter-spacing: 0.44px;

      @media (max-width: $mobile-width){
        max-width: 250px;   
        font-size: 14px;     
      }

      .text-style-1{
        display: block;
        font-family: SweetSansBold;
        font-size: 18px;
        text-transform: lowercase;
        font-variant: small-caps;
        @media (max-width: $mobile-width){
          
        }
      }

      .text-style-2{
        display: block;
        font-style: italic;
        margin-bottom: 2px;
       
      }
    }


    &:nth-of-type(3) {
      .c-departments__icon {
        max-height: 40px;
        max-width: 50px;
        width: auto;
        align-self: center;
      }
    }

    &:nth-of-type(6) {
      .c-departments__icon {
        max-height: 49px;
        max-width: 50px;
        width: auto;
        align-self: center;
      }
    }
  
  }
}

.mob-fix{
  width: 6.1vw;
  position: relative;
  height: 100%;
}