.c-our-leadership{
  position: relative;

  &.m-full-width{
    display: flex;
    width: 100%;
    justify-content: center;

    @media (max-width: $mobile-width){
      justify-content: flex-start;
    }
  }

  .board-inner {
    padding: 30px 20px 25px 50px;
    min-height: 700px;

    @media (max-width: 1390px){
      padding: 30px 10px 25px 20px;
    }

    @media (max-width: $tablet-width){
      padding: 10px 10px 0px 10px;
      min-height: 450px;
    }

    @media (max-width: $mobile-width){
      padding: 20px 20px 5px 20px;
      min-height: 450px;
    }

    &.lastone{
      padding-bottom: 40px;
    }

    &__heading {
      text-align: left;

      h1{
        font-size: 30px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.13;
        letter-spacing: 1px;
        color: #222221;
        text-transform: lowercase;
        font-variant: small-caps;
        margin: 20px 0 30px;

        @media (max-width: $tablet-width){
          font-size: 24px;
          margin: 10px 0 15px;
        }

        @media (max-width: $mobile-width){
          max-width: 200px;
          margin: 0 0 18px 6px;
        }
      }
    }
  }

  .wrapper-heads {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 14px;
    max-width: 1000px;

    @media (max-width: $tablet-width){
      padding-bottom: 10px;
    }
    @media (max-width: $mobile-width){
      max-width: initial;
      justify-content: center;
    }


    &.fourxfour>.wrapper-heads__head-wrapper{
      @media (max-width: $mobile-width){
        margin-bottom: 10px;
        margin-right: 10px;
      }
    }

    &__head-wrapper{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 152px;
      text-align: center;
      // margin-bottom: 24px;
      @media (max-width: 1390px){
        width: 142px;
      }

      @media (max-width: $tablet-width){
        width: 88px;
      }

      @media (max-width: $mobile-width){
        width: 33%; 
      }

      b p{
        margin: 7px 0 5px;
        @media (max-width: $mobile-width){
          margin: 7px 2px 5px;
        }
      }

      p{
        font-size: 14px;
        line-height: 1.07;
        letter-spacing: 0.39px;
        @media (max-width: $tablet-width){
          font-size: 10px;
          width: 83px;
        }

        @media (max-width: $mobile-width){
          font-size: 12px;
          margin: 0 2px;
        }
      }
    }

    &__head-div {
      max-width: 139px;
      border: solid 2px #d5d5d5;
      border-radius: 50%;
      cursor: pointer;
      @media (max-width: 1390px){

        max-width: 130px;
      }
      @media (max-width: $tablet-width){
        max-width: initial;
        margin-right: 3px;
      }
      @media (max-width: $mobile-width){
        max-width: 90%;
        margin-right: 1.9%;
      }
      
      &.show{
        border: solid 2px #e9c5c7;
        border-radius: 50%;
      }

      // &.show~b{
      //   display: none;
      // }
    }

    &__head-img {
      width: 100%;
      align-self: flex-start;
    }

    &.two{
      @media (max-width: $mobile-width){
        justify-content: left;
      }

      div:nth-of-type(2){
        @media (max-width: $mobile-width){
          margin-right: 30%;
        }
      }

      .wrapper-heads__head-div{
        margin-right: 2.8%;
        max-width: 91%;
        // margin-bottom: 10px;
      }
    }


  }

  .wrapper-heads-info {
    display: none;
    position: relative;
    padding: 34px 30px 25px;
    border: solid 1px #d9d6df;
    margin-bottom: 14px;
    max-width: 546px;
    @media (max-width: 1390px){
      padding: 14px 10px 15px;
      max-width: 539px;
    }
    @media (max-width: $tablet-width){
      padding: 14px 10px 5px;
      max-width: 327px;
    }
    @media (max-width: $mobile-width){
      padding: 26px 20px 15px;
      max-width: 100%;
      padding-right: 10%;
    }




      &__name {
        font-family: SweetSansMedium;
        font-size: 21px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.9;
        letter-spacing: 0.58px;
        color: #30312d;
        margin-bottom: 2px;
        @media (max-width: $tablet-width){
          font-size: 16px;
        }
        @media (max-width: $mobile-width){
          line-height: 1.05;
          letter-spacing: 0.58px;
          font-size: 21px;
        }
      }
  
      &__position {
        font-size: 18px;
        margin-bottom: 10px;
        max-width: 420px;

        @media (max-width: $tablet-width){
          font-size: 14px;
          max-width: 270px;
        }

        @media (max-width: $mobile-width){
          line-height: 1.13;
          letter-spacing: 0.44px;
          font-size: 16px;
        }

      }
  
      &__longtext {
        font-family: SweetSans;
        font-size: 13px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.23;
        letter-spacing: 0.36px;
        color: #2a2b28;
        margin-bottom: 10px;

        @media (max-width: 1390px){
          font-size: 12px;
        }
        @media (max-width: $tablet-width){
          font-size: 10px;
        }

        @media (max-width: $mobile-width){
          font-size: 13px;
        }
      }

      &.show{
        display: flex;
        flex-direction: column;
      }

      >span{
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        @media (max-width: 1390px){
          top: 10px;
        }
      }
  }
  
}



