.c-tiktok{
  background-color: #e9c5c7;
  padding: 20px 30px;
  min-height: 600px;

  @media (max-width: $mobile-width){

    min-height: 400px;
  }

  &__follow-us-img{
    margin: 0 auto;
    width: 100px;
    height: auto;
    top: -20px;
    position: relative;
    display: block;
    background: #e9c5c7;
    padding: 0 60px;
  }
}