.h-hide {
	&-s {
		@media (max-width: $mobile-width){
			display: none !important;
		}
	}

	&-ipad{
		@media (min-width: 768px) and (max-width: 840px){
			display: none !important;
		}
	}
}

.h-show_only {
	&-s {
		@media (min-width: $mobile-width + 1){
			display: none !important;
		}
	}

	&-tablet {
		@media (max-width: $mobile-width){
			display: none !important;
		}
		@media (min-width: $tablet-width + 1){
			display: none !important;
		}
	}

	&-desktop {
		@media (max-width: $tablet-width){
			display: none !important;
		}
	}
}

.h-no_events {
	pointer-events: none!important;
}

.h-hidden{
	display: none !important;
}

.h-news-width{
	max-width: 1300px;
	width: 100%;
	margin: 0 auto;

	@media (max-width: $tablet-width){
	}

	@media (max-width: $mobile-width){
	}
}