$i: 0;
$max: 140;
@while $i <= $max {
    .u-margin-top-#{$i} {
        margin-top: rem-calc($i) !important;
    }
    .u-margin-bottom-#{$i} {
        margin-bottom: rem-calc($i) !important;
    }
    .u-margin-left-#{$i} {
        margin-left: rem-calc($i) !important;
    }
    .u-margin-right-#{$i} {
        margin-right: rem-calc($i) !important;
    }
    $i: $i + 5;
}
