.c-banner-2{
  display: flex;
  position: relative;
  flex-direction: column;
  margin-top: 80px;

  @media (max-width: $tablet-width){
    margin-top: 50px;
  }

  @media (max-width: $mobile-width){
    margin-top: 0px;
  }

  &__page-title{
    position: absolute;
    white-space: nowrap;
    left: 0;
    top: 50px;
    z-index: 2;
    color: white;
    background-color: #1f1f1e;
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    text-transform: lowercase;
    padding: 10px 6px 6px;
    pointer-events: none;

    /* Safari hack */
    @media not all and (min-resolution:.001dpcm) { 
      @supports (-webkit-appearance:none) {
        padding: 10px 0 6px!important;
        width: 30px;
        display: flex;
        pointer-events: none;
        align-items: center;
      }
    }

    @media (max-width: $mobile-width){
      padding: 8px 5px 5px;
    }

    p{
      font-family: SweetSansBold;
      font-variant: small-caps;
      font-size: 20px;
      letter-spacing: 1px;
      margin-bottom: 4px;

       @media (max-width: $mobile-width){
        font-size: 14px;
        }
    }
  }

  .video-wrapper{
    display: flex;
    justify-content: center;
    margin: 40px 0;

    @media (max-width: $mobile-width){
      margin: 0;
    }
  }

  .some-links{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    @media (max-width: $mobile-width){
      flex-direction: column;
      margin-bottom: 30px;
    }

    .c-button-1{
      align-self: center;
      margin: 0 6px;
      cursor: pointer;

      @media (max-width: $mobile-width){
        margin: 5px 6px;
      }

      &:hover{
        color: #fff;
        background-color: #e9c5c7;
        border: solid 1px #d9d6df;
      }

      &.selected{
        background-color: #e9c5c7;
      }

      &.selected:hover{
        background-color: #e9c5c7;
        color: #000;
        border: solid 1px #d9d6df;
      }


    }
  }

  .some-content{
    padding: 0 80px;
    max-width: 1000px;
    margin: 0 auto;

    @media (max-width: $mobile-width){
      padding: 0 30px;
    }

    .content{
      display: none;
      padding-bottom: 60px;

      &.selected{
        display: block;
      }
    }
  }

}


